body {
    background: rgb(75, 75, 75);
}
.form{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.315);
}

div{
    margin-bottom: 20px;
}

input[type="text"], input[type="email"], textarea{
    width: 200px;
}

textarea{
    min-width: 200px;
    max-width: 290px;
    min-height: 50px;
    max-height: 100px;
}

button{
    padding: 10px;
}